#watch{    
    background: url('watch.png') center center no-repeat;
    position: absolute;
    width: 140px;
    height: 249px;
    bottom: 50px;
    right: 50px;
}

#watch #hour{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    color:#ffffff;
    font-size:36px;
    margin-top: 75px;
    float: left;
    width: 35px;
    margin-top: 75px;
    margin-left: 15px;
    text-align: right;
}
#watch #brackets{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    color:#ffffff;
    font-size:36px;
    margin-top: 75px;
    float: left;
    width: 35px;
    margin-top: 75px;
    margin-left: 75px;
    text-align: center;
}
#watch #minute{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    color:#ffffff;
    font-size:36px;
    float: left;
    width: 35px;
    margin-top: 75px;
    margin-left: 125px;
    text-align: left;
}
#watch #week{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    color:#ffffff;
    font-size:18px;
    margin-top: 120px;
    width: 130px;
    text-align: center;
}
#watch #date{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    color:#ffffff;
    font-size:12px;
    margin-top: 145px;
    width: 130px;
    text-align: center;
}      